# pip
pip == 24.2

# jupyter
jupyter == 1.0.0

# scipy
scipy == 1.14.0

# numpy
numpy == 2.0.0

# pandas
pandas == 2.2.2

# matplotlib
matplotlib == 3.9.1

# scikit-learn
scikit-learn == 1.5.1

# seaborn
seaborn == 0.13.2